<h3>Register</h3>

<%= form_for @user create_user_path do |f| %>
	<% if @user.errors.any? %>
	    <div class="error_messages">
	      <h2>Form is invalid</h2>
	      <ul>
	        <% for message in @user.errors.full_messages %>
	          <li><%= message %></li>
	        <% end %>
	      </ul>
	    </div>
  	<% end %>

	<p>
	    <%= f.label :name %><br />
	    <%= f.text_field :name %>
  	</p>
  	<p>
	    Are you registering as a student or a mentor?<br />
	    <%= select_tag(:type, options_for_select([['', 1], ['Student', 2], ['Mentor', 3]])) %>
  	</p>
  	<p>
	    If you are registering as a mentor, please enter your provided access code<br />
	    <input type="text" name="mentor_code">
  	</p>
  	<p>
	    What topics are you well versed in? (optional)<br />
	    <%= f.text_area :topics %>
  	</p>
  	<p>
	    <%= f.label :phone_number %> (optional)<br />
	    <%= f.text_field :phone %>
  	</p>
  	<p>
	    Provide an email which will be used for Login and contact<br />
	    <%= f.text_field :email %>
  	</p>
  	<p>
	    <%= f.label :password %><br />
	    <%= f.password_field :password %>
  	</p>
  	<p>
	    <%= f.label :password_confirmation %><br />
	    <%= f.password_field :password_confirmation %>
  	</p>
 	<p class="button"><%= f.submit "Finalize Registration"%></p>
<% end %>