<div>
<h2>Profile for <%= @user.name %></h2>
  <h5><%= @user.type %></h5>
  <p><%= link_to "click to edit your info", edit_user_path(@user.id)  %></p>
  <h3>Your Versed Topics:</h3>
  <% if @user.topics %>
    <li><%= @user.topics %></li>
  <% else %>
    <p>You Do Not Have Any Topics Assigned</p>
  <% end %>
</div><br>

<div class='row'>
  <% if @user.type == "Student" %>
    <div class="four columns">
      <h3>Appointments</h3>

      <% Appointment.where(student_id: @user.id).each do |appointment| %>
        Mentor: <%= appointment.user.name %><br>
        Contact Info: <%= appointment.user.email %><br>
        Time: <%= appointment.datetime.strftime("%m-%d-%y %H:%M") %><br><br>
        Appointment Context: <br>
        <%= appointment.context %><br>
        <%= link_to "Edit Appointment",  edit_user_appointment_path(user_id: appointment.user_id, id: appointment.id)%><br><br>
      <% end %>
    </div>
  <% end %>

  <div class="four columns">
    <h3>Mentoring Sessions</h3>
      <%= button_to "Add Availability", new_user_appointment_path(user_id: session[:id]), method: :get, class: 'button-primary'%>
      <% Appointment.where(user_id: @user.id).each do |appointment| %>
        Time: <%= appointment.datetime.strftime("%m-%d-%y %H:%M") %><br>
        <% if appointment.student_id %>
          Student: <%= User.find(appointment.student_id).name %><br>
          Contact Info: <%= User.find(appointment.student_id).email %><br>
        <% else %>
          Student: No student signed up yet<br>
        <% end %>

        Appointment Context: <br>
        <%= appointment.context %><br>
        <%=  link_to "Cancel Appointment", "/users/#{appointment.user_id}/appointments/#{appointment.id}", method: "delete", confirm: "Are you sure?" %><br><br>
      <% end %>
  </div>

  <div class="four columns">
    <h3>Feedback</h3>
  </div>
</div>
