<h2>Create Appointment</h2>
<%= form_tag controller: 'appointments', action: 'create', method: 'post' do %>
  <%= label_tag :date %>
  <%= text_field_tag :date, nil, placeholder: 'MM-DD-YYYY' %>

  <%= label_tag :time %>
  <%= text_field_tag :time, nil, placeholder: 'eg: 900, 930, 1100' %>
  <br><br>
  <%= submit_tag "Create Appointment", class: 'button-primary' %>
<% end %>
